*{ 
	padding:0px; 
	margin:0px;
}

html{
	 background-color: #68b6df;
}

header{
	box-shadow: 0px 0px 5px black;
	background: white;
}

#buscador{
	margin: 20px auto;
	width: 550px;
	padding:10px;
	height: 100px;
}

#buscador img{
	float: center;
	margin-left: 180px;
	margin-top: 5px;
}

#boton{
border:1px solid white;
background-color:#68b6df;
color: black;
}

#boton:hover{
	background-color: #99AACC
}

section{
	width: 80%;
	height:800px;
	background-color: white;
	box-shadow: 0px 0px 5px black;
	float: left;
}

#formulario{
max-width: 600px;
padding: 5px 10px 10px 5px;
margin: 0px auto;
border-radius: 5px;
background-color: rgba(17,167,178,0.3);
}


#formulario form {
	margin: 0px auto;
}

#formulario form input{
	display: block;
	margin: 20px auto;
	padding: 5px;
}

#formulario form textarea{
	display: block;
	margin: 20px auto;
	padding: 5px;
}

.text{
width: 90%;
height: 40px;
border:1px solid white;
box-shadow: 0px 0px 3px #333;
color: #1c88b5;
font-weight: 700;
}




#enviar{

background-color: rgba(17,167,178,0.8);
border:1px solid rgb(17,167,178);
color: white;
height: 30px;
border-radius: 3px;
display: inline-block;
}

#enviar:hover{
	background-color: #99AACC;
	color: black;
	border:1px solid aqua;

}

p{
	color: white;
	text-align: center;
	font-family: Amatic SC;
	font-size: 20px;
	font-weight: 700;
}

section{
clear: both;
padding-top: 50px;

}

.fecha{
	margin-left:30px;
	color: white;
	text-align: left;
	font-family: Amatic SC;
	font-size: 15px;
	font-weight: 700;
}

#error{
text-transform: capitalize;
opacity: 0.8;
color: white;
width: 620px;
margin: 20px auto;
background-color: rgba(255,0,0,0.6);
border:3px solid red;
border-radius: 5px;
box-shadow: inset 0px 0px 3px red;
padding: 30px;
box-sizing:border-box;
text-align: center;
display: none;
font-size: 12px;
}