*{ padding:0px; margin:0px;}

html{ background-color: #68b6df;}
header{
	box-shadow: 0px 0px 5px black;
	background: white;
}

#buscador{
	margin: 20px auto;
	width: 550px;
	padding:10px;
	height: 100px;
}

#buscador img{
	float: center;
	margin-left: 180px;
	margin-top: 5px;
}

#boton{
border:1px solid white;
background-color:#68b6df;
color: black;
}

#boton:hover{

	background-color: #99AACC

}

section{

	width: 80%;
	height:800px;
	background-color: white;
	box-shadow: 0px 0px 5px black;
	float: left;
}

#slide-container{
  
		background: #a0a9a9;
	width: 110%;
	height: 300px;
	padding-top: 30px;
	box-sizing: border-box;
	display: inline-block;
}

#slide-container p{text-align: center; margin-top: 30px; color: white; font-family: sans-serif;}

#slide{
		background: white ;
	width: 50%;
	height: 200px;
	margin:0px auto;




}

#sidebar{
	width:20%;
	height:800px; 
	background-color:   #A0a9a9;
	float: right;
	box-shadow: 0px 0px 5px black;
}

#inicioF form
{
	margin:180px auto;
	width:450px;
	height:100%;
	background:white;
	border-bottom: 4px solid darkblue;
}
#inicioF form label{
	display:block;
	color:white;
	background:darkblue;
	padding:12px 0;
	text-align: center;
	font-size:25px;
	font-weight: bold;
	font-family: Arial;
}

#inicioF form input[type="date"],input[type="number"], input[type="text"]
{
	width: 230px;
	padding: 12px 40px;
	font-weight: bold;
	font-family: Arial;
	margin-left: 54px;
	margin-bottom: 10px;
	border:2px solid darkblue;
	
}
#inicioF form input[type="text"]
{
	background: url("usuario.png");
}
#inicioF form input[type="password"]
{
	background: url("bocallave.png");
}
#inicioF form input[type="text"]:focus,input[type="password"]:focus
{
	border:3px solid #a0a9a9;
	width:290 px;
	background: none;
	padding:12px 40px;
}
#inicioF form input[type="submit"]
{
	background: darkblue;
	color:white;
	display: inline-block;
	margin-left: 54px;
	margin-bottom: 10px;
	padding: 8px 20px;
	border: none;
	font-weight: bold;
	font-family: Arial;
	font-size: 20px;
	border-radius: 90px;
}
#inicioF form input[type="submit"]:hover
{
	background: #0000f9;
	cursor:pointer;
	
}